section {
  padding: 100px 0;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 400;
  background-color: #eee;
}

h1 {
  font-family: Montserrat , sans-serif;
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

header {
  background: #3F51B5;
  color: #FFFFFF;
  padding: 150px 0;
}
header p {
  font-family: 'Allura';
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 0;
  font-size: 40px;
  margin-top: -20px;
}

.timeline {
  position: relative;
}
.timeline::before {
  content: '';
  background: #C5CAE9;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}
.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #3F51B5;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

a {
  background: #3F51B5;
  color: #FFFFFF;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
}
a:hover, a:active, a:focus {
  background: #32408f;
  color: #FFFFFF;
  text-decoration: none;
}

.timeline-card {
  padding: 0 !important;
}
.timeline-card p {
  padding: 0 20px;
}
.timeline-card a {
  margin-left: 20px;
}

.timeline-item:nth-child(1) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2016-06-01_202332_BURST6.jpg") center center no-repeat;
  background-size: 300px;
}

.timeline-item:nth-child(2) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2016-07-08_204235.jpg") center center no-repeat;
  background-size: 300px;
}

.timeline-item:nth-child(3) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2016-09-03_123934.jpg") center center no-repeat;
  background-size: 300px;
}

.timeline-item:nth-child(4) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2016-11-25-WA0003.jpg") center center no-repeat;
  background-size: 320px;
}

.timeline-item:nth-child(5) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2016-11-28-WA0002.jpeg") center center no-repeat;
  background-size: 250px;
}

.timeline-item:nth-child(6) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2017-03-04-WA0014.jpg") center center no-repeat;
  background-size: 500px;
}

.timeline-item:nth-child(7) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2017-05-20_114348.jpg") center center no-repeat;
  background-size: 150px;
}

.timeline-item:nth-child(8) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2017-05-22-WA0001.jpg") center center no-repeat;
  background-size: 350px;
}

.timeline-item:nth-child(9) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2017-06-01_175343.jpg") center center no-repeat;
  background-size: 250px;
}

.timeline-item:nth-child(10) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2017-06-28_184124.jpg") center center no-repeat;
  background-size: 300px;
}

.timeline-item:nth-child(11) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2017-07-08-WA0016.jpg") center center no-repeat;
  background-size: 350px;
}

.timeline-item:nth-child(12) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2017-07-10_141912.jpg") center center no-repeat;
  background-size: 350px;
}

.timeline-item:nth-child(13) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2017-08-13_141912.jpg") center center no-repeat;
  background-size: 150px;
}

.timeline-item:nth-child(14) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2017-08-18_214416.jpg") center center no-repeat;
  background-size: 350px;
}

.timeline-item:nth-child(15) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2017-08-23-WA0009.jpg") center center no-repeat;
  background-size: 300px;
}

.timeline-item:nth-child(16) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2017-08-29-WA0001.jpg") center center no-repeat;
  background-size: 350px;
}

.timeline-item:nth-child(17) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2017-09-05.png") center center no-repeat;
  background-size: 200px;
}

.timeline-item:nth-child(18) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2017-11-04_212040.jpg") center center no-repeat;
  background-size: 300px;
}

.timeline-item:nth-child(19) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2017-11-14-WA0015.jpg") center center no-repeat;
  background-size: 300px;
}

.timeline-item:nth-child(20) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2017-11-21-WA0003.jpg") center center no-repeat;
  background-size: 300px;
}

.timeline-item:nth-child(21) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2017-11-27.png") center center no-repeat;
  background-size: 300px;
}

.timeline-item:nth-child(22) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2017-12-02_203749_1.jpg") center center no-repeat;
  background-size: 350px;
}

.timeline-item:nth-child(23) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2017-12-14-WA0029.jpg") center center no-repeat;
  background-size: 300px;
}

.timeline-item:nth-child(24) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2017-12-27-WA0005.jpg") center center no-repeat;
  background-size: 300px;
}

.timeline-item:nth-child(25) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2018-01-21.png") center center no-repeat;
  background-size: 300px;
}

.timeline-item:nth-child(26) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2018-01-24-WA0015.jpg") center center no-repeat;
  background-size: 300px;
}

.timeline-item:nth-child(27) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2018-02-25.png") center center no-repeat;
  background-size: 250px;
}

.timeline-item:nth-child(28) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2018-03-03_140950.jpg") center center no-repeat;
  background-size: 300px;
}

.timeline-item:nth-child(29) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2018-03-25-WA0001.jpg") center center no-repeat;
  background-size: 350px;
}

.timeline-item:nth-child(30) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2018-03-30-WA0005.jpeg") center center no-repeat;
  background-size: 350px;
}

.timeline-item:nth-child(31) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2018-04-05-WA0003.jpg") center center no-repeat;
  background-size: 350px;
}

.timeline-item:nth-child(32) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2018-04-15-WA0006.jpg") center center no-repeat;
  background-size: 350px;
}

.timeline-item:nth-child(33) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2018-05-12-WA0001.jpg") center center no-repeat;
  background-size: 350px;
}

.timeline-item:nth-child(34) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2018-06-10-A Doce Espera do Sebastian-18.jpg") center center no-repeat;
  background-size: 350px;
}

.timeline-item:nth-child(35) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2018-06-23_000802.jpg") center center no-repeat;
  background-size: 250px;
}

.timeline-item:nth-child(36) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2018-07-13-153809.jpg") center center no-repeat;
  background-size: 250px;
}

.timeline-item:nth-child(37) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2018-07-14-WA0005.jpg") center center no-repeat;
  background-size: 200px;
}

.timeline-item:nth-child(38) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2018-07-29-WA0001.jpg") center center no-repeat;
  background-size: 200px;
}

.timeline-item:nth-child(39) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2018-10-06-163045.jpg") center center no-repeat;
  background-size: 350px;
}

.timeline-item:nth-child(40) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2018-10-12.png") center center no-repeat;
  background-size: 350px;
}

.timeline-item:nth-child(41) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2018-10-29-WA0005.jpg") center center no-repeat;
  background-size: 150px;
}

.timeline-item:nth-child(42) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2018-11-24-WA0001.jpg") center center no-repeat;
  background-size: 350px;
}

.timeline-item:nth-child(43) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2018-12-16-183902.jpg") center center no-repeat;
  background-size: 350px;
}

.timeline-item:nth-child(44) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2018-12-24-211549.jpg") center center no-repeat;
  background-size: 350px;
}

.timeline-item:nth-child(45) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2019-01-01-021843.jpg") center center no-repeat;
  background-size: 200px;
}

.timeline-item:nth-child(46) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2019-03-25-WA0001.jpg") center center no-repeat;
  background-size: 350px;
}

.timeline-item:nth-child(47) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2019-04-10-135710.png") center center no-repeat;
  background-size: 450px;
}

.timeline-item:nth-child(48) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2019-05-26-140911.jpg") center center no-repeat;
  background-size: 150px;
}

.timeline-item:nth-child(49) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2019-06-12-WA7.jpg") center center no-repeat;
  background-size: 150px;
}

.timeline-item:nth-child(50) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2019-06-17-221322.jpg") center center no-repeat;
  background-size: 250px;
}

.timeline-item:nth-child(51) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2019-06-22-WA0001.jpg") center center no-repeat;
  background-size: 150px;
}

.timeline-item:nth-child(52) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2019-07-15-WA0002.jpg") center center no-repeat;
  background-size: 240px;
}

.timeline-item:nth-child(53) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2019-08-18.png") center center no-repeat;
  background-size: 240px;
}

.timeline-item:nth-child(54) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2019-10-08-WA0227.jpeg") center center no-repeat;
  background-size: 240px;
}


.timeline-item:nth-child(55) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2019-10-12-WA0064.jpeg") center center no-repeat;
  background-size: 150px;
}

.timeline-item:nth-child(56) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2019-11-06-133755.jpg") center center no-repeat;
  background-size: 150px;
}

.timeline-item:nth-child(57) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2019-12-07.jpg") center center no-repeat;
  background-size: 300px;
}

.timeline-item:nth-child(58) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2019-12-20-102307.jpg") center center no-repeat;
  background-size: 300px;
}

.timeline-item:nth-child(59) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2019-12-24-235406.jpg") center center no-repeat;
  background-size: 300px;
}

.timeline-item:nth-child(60) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2020-02-01-WA0007.jpg") center center no-repeat;
  background-size: 300px;
}

.timeline-item:nth-child(61) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2020-02-08-222724.jpg") center center no-repeat;
  background-size: 300px;
}

.timeline-item:nth-child(62) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2020-02-28-221059.jpg") center center no-repeat;
  background-size: 300px;
}

.timeline-item:nth-child(63) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2020-03-11-WA0053.jpeg") center center no-repeat;
  background-size: 150px;
}

.timeline-item:nth-child(64) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2020-06-18-WA0040.jpg") center center no-repeat;
  background-size: 200px;
}

.timeline-item:nth-child(65) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2020-06-18-WA0101.jpg") center center no-repeat;
  background-size: 200px;
}

.timeline-item:nth-child(66) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2020-12-08-WA0042.jpg") center center no-repeat;
  background-size: 300px;
}

.timeline-item:nth-child(67) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2021-02-06-bruna_otaku.png") center center no-repeat;
  background-size: 130px;
}

.timeline-item:nth-child(68) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/lembrancas/2020-11-30-WA0028.jpg") center center no-repeat;
  background-size: 180px;
}




.timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}
.timeline-img-header h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #3F51B5;
  padding: 0 20px;
}

.date {
  background: #FF4081;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}
